h1, h3 {
    font-family: Georgia, sans-serif;;
}
a {
    text-decoration: none;
    color: #0433FF;
    font-family: Roboto, Helvetica, sans-serif;
}
p {
    font-size: 0.875em;
}
#menubar {
    text-transform: uppercase;
    background-color: #fff;
    position: sticky;
    box-shadow: inset;
    padding: 0px 32px;
}
#menubar ul {
    padding: 0;
    margin: 0;
}
#menubar ul li a{
    text-decoration: none;
    color: black;
}
#banner .grouptext {
    position: absolute;
    top: 20%;
    left: 16px;
}
#main {
    background-color: #f7f7f7;
}
#main .imagelist img {
    margin-bottom: 24px;
    width: 100%;
}
#footer {
    background-color: #efefef;
}